/* BASIC ****************************************************** */
*,
*:before,
*:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    min-height: 100% !important;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}
body,
main,
#root,
#page-wrapper {
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    color: hsl(260, 8%, 14%);
    background:hsl(180, 52%, 96%);
    //Light Grayish Cyan 
}
#page-wrapper {
    height: auto;
}
/* * {
  outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important;
} */

/* No hover effects on touch ***********************************/
@media (hover: hover) and (pointer: fine) {
    #clear-btn:hover{
        text-decoration: underline;
    }
    .search-tablets button:hover{
        p{
            background-color: hsl(180, 14%, 20%) !important;
        }
    }
}

/* BASICS ****************************************************** */
header{
    width: 100%;
    height: 9rem;
    background-color: hsl(180, 29%, 50%);
    background-image: url('../images/bg-header-desktop.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 3rem;
    padding: 5rem 0;

    #search-bar{
        position: relative;
        bottom: 6.5rem;
        width: 80%;
        height: auto;
        min-width: 300px;
        border-radius: 5px;
        background: white; 
        box-shadow: -5px 10px 20px hsla(180, 29%, 50%, 0.349);
    }
    .job-post{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 9rem;
        min-width: 300px;
        padding: 1.5rem 3rem;
        border-radius: 5px;
        background: white;
        box-shadow: -5px 10px 20px hsla(180, 29%, 50%, 0.349);
        .group1{
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }
        img{
            width: 90px;
            height: 90px;
        }
    }
}


#search-bar{
    display: none;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    button{
        padding: .5rem;
        outline: none;
        border: none;
        font-size: 1rem;
        font-weight: 700;
        color: hsl(180, 29%, 50%);
        background-color: transparent;
        cursor: pointer;
    }
    .search-tablets{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        button{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap:.3rem;
            padding: 0 0 0 .5rem !important;
            background-color: hsl(180, 31%, 95%) !important;
            p{
                padding: .5rem;
                color:hsl(180, 31%, 95%);
                background-color: hsl(180, 29%, 50%);
            }
        }
    }
}
#search-bar>*{ flex: 0 1 100%;}
#clear-btn{flex:1;}


.job-details{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap:.8rem;
    .job-type, .company-name{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        gap: 1rem;
    }
}

.company-name{
    font-size: .9rem;
    font-weight: 700;
    color: hsl(180, 29%, 50%);
    .new-tag,.featured-tag{
        color:hsl(180, 31%, 95%);
        padding: .3rem;
        border-radius: 10px;
        background-color: hsl(180, 29%, 50%);
    }
    .featured-tag{
        background-color: hsl(180, 14%, 20%);
    }
}
.job-position{
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(180, 14%, 20%);
}

.job-type{
    font-size: .9rem;
    color: hsl(180, 8%, 52%);
}

.filter-tablets{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    button{
        padding: .5rem;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 700;
        color: hsl(180, 29%, 50%);
        background-color: hsl(180, 31%, 95%);
        cursor: pointer;
    }
}
